body {
    background-color: black;
}
#clockdigital {
    position: absolute;
    color: greenyellow;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 60px;
    font-family: "Orbitron";
    letter-spacing: 7px;
    text-transform: space;
    border: 3px solid greenyellow;
    padding: 15px;
}